/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, '', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #f8f1f1;
  height: 200px;
  padding: 20px 20px;
}

.active {
  color: red;
}

.heartredbutton {
  background-image: url('images/heart-red.png');
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: right;
}

.heartdarkbutton {
  background-image: url('images/heart-dark.png');
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  float: right;
}
